<div class="modal fade" id="delete-property-modal" focus tabindex="-1" aria-labelledby="edit-property-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-mid">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eyða Eign</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'delete-property' id=1 %}">
                    {% csrf_token %}
                    <div class="modal-body" id="delete-modal-body-prompt">
                        Ertu viss um að þú viljir eyða {{ property.street_name }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>