<div class="modal fade" id="edit-property-modal-{{ property.id }}" focus tabindex="-1" aria-labelledby="edit-property-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-mid">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Breyta Eign</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit-property' id=property.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="streetname" class="form-label">Heimilisfang</label>
                        <input type="text" class="form-control" id="streetname" name="streetname" value="{{property.street_name}}" required> 
                    </div>
                    <div class="mb-3">
                        <label for="city_input" class="form-label">Borg</label>
                        <input type="text" class="form-control" id="city_input" name="city_input" value="{{property.city}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="zip" class="form-label">Póstnúmer</label>
                        <input type="text" class="form-control" id="zip" name="zip" value="{{property.postal_code}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Lýsing</label>
                        <textarea type="text" class="form-control" id="desc" name="desc" required>{{property.description}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="bedrooms" class="form-label">Fjöldi Svefnherbergja</label>
                        <input type="number" class="form-control" id="bedrooms" name="bedrooms" value="{{property.number_of_bedrooms}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="bathrooms" class="form-label">Fjöldi Baðherbergja</label>
                        <input type="number" class="form-control" id="bathrooms" name="bathrooms" value="{{property.number_of_bathrooms}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="sqm" class="form-label">Fermetrafjöldi</label>
                        <input type="number" class="form-control" id="sqm" name="sqm" value="{{property.square_meters}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="imageURL" class="form-label">Mynd</label>
                        <input type="text" class="form-control" id="imageURL" name="imageURL" value="{{property.image}}"required>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Aðrar myndir</label>
                        <input type="text" class="form-control" id="images" name="images">
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Týpa</label>
                        <input type="text" class="form-control" id="type" name="type" value="{{property.property_type}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Verð</label>
                        <input type="text" class="form-control" id="price" name="price" value="{{ property.raw_price }}" required>
                    </div>
            
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>