{% load static %}
{% block content %}
<div class="bg-low pt-3">
    <div class="container">
        <div class="row gx-2 row-cols-{{cols}}">
            {% for item in listings %}
                <div id="{{forloop.counter0}}" class="col pb-2 real-estate-card">
                    {% include "real_estates/_real_estate_item.html" with item=item %}
                </div>
            {% empty %}
            </div>
                <div class="py-5">
                    <h1 class="text-center subtext">Engar eignir uppfylla valda síu...</h1>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}