{% load static %}
<div class="position-relative card shadow w-100 overflow-hidden">
    <a class="stretched-link" href="{% url 'real-estate-by-id' id=property.id %}">
    </a>
    <img height="180rem" src="{{property.image}}" class="card-img-top" alt="A beautiful home">
    {% if property.status == "SOLD" or property.status == "PROCESSED" %}
        {% include "real_estates/_card_banner.html" with text="SELD" %}
    {% endif %}
    </img>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h5 class="card-title mb-0 address">
                {{ property.street_name }}
            </h5>
            <h6 class="ms-3 subtext zip">
                {{ property.postal_code }} {{ property.city }}
            </h6>
        </li>
        <li class="list-group-item gx-3">
            <div class="d-flex justify-content-evenly">
                <span>{{ property.number_of_bedrooms }} herb.</span>
                <span>{{ property.square_meters }} m<sup>2</sup></span>
            </div>
        </li>
        <li class="list-group-item"><b class="price">{{ property.listing_price }} kr.</b></li>
    </ul>
</div>