{% extends "base.html" %}
{% block title %}Castle Apartments{% endblock %}

{% block content %}
    {% include "_search_form.html" with areas=areas types=types %}
    <div class="container">
        <div class="row gx-2 row-cols-4">
            {% for item in listings %}
                <div class="col pb-2">
                    {% include "real_estates/_real_estate_item.html" with item=item %}
                </div>
            {% empty %}
                <h1>Engar eignir uppfylla valda síu.</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}