{% extends "base.html" %}
{% load static %}
{% block title %}{{item.real_estate.address}}{% endblock %}

{% block content %}
<div class="m-3">
    <div class="container">
        <div class="row">
            <div class="col-9">
                {% include 'real_estates/_image_carousel.html' with width='970px' height='620px' images=item.real_estate.images %}
            </div>
            <div class="col-3 align-self-center">
                <div class="row d-flex justify-content-center">
                    {% include 'users/_seller_card.html' with seller=item.seller %}
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <button id="makeOffer" type="button" onclick="makeOffer()" class="btn btn-primary">Tilboð</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    BASIC INFO
</div>
<div>
    {% include "_title_bar.html" with title='Lýsing' %}
    DESCRIPTION
</div>
<div>
    {% include "_title_bar.html" with title='Sambærilegar eignir' %}
    {% include "real_estates/_listings.html" with cols=3 %}
</div>
{% endblock %}