{% extends "base.html" %}
{% load static %}
{% block title %}{{property.street_name}}{% endblock %}
{% block scripts %}
<script defer src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}

{% block content %}
<div class="pt-3 bg-mid">
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% include 'real_estates/_image_carousel.html' with width='856px' height='570px' images=images %}
            </div>
            <div class="col-4 align-self-center">
                <div class="row d-flex justify-content-center">
                    {% include 'users/_seller_card.html' with seller=seller %}
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        {% if user.is_authenticated %}
                            <button id="makeOffer" type="button" style="height:6rem; width:16rem" data-bs-toggle="modal" data-bs-target="#offer-modal" 
                                class="btn btn-big btn-primary">
                                Gera tilboð
                            </button>
                            {% include 'real_estates/_offer_modal.html' %}
                        {% else %}
                            <button id="makeOffer-unavailable" type="button" style="height:6rem; width:16rem" class="btn btn-big btn-primary">
                                Gera tilboð
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-mid">
    <div class="container">
        <div class="row px-5 d-flex align-items-center">
            <div class="col-12 d-flex align-items-center gap-1 align-self-center">
                <div class="bg-primary text-bg-primary rounded-3">
                    <div class="p-1">
                        {{ property.property_type }}
                    </div>
                </div>
                <span class="align-middle">
                    <h1 class="mb-1">
                        {{ property.street_name }}
                    </h1>
                </span>
                <div class="ms-auto">
                    <h2>
                        {{ property.listing_price}} kr.
                    </h2>
                </div>
            </div>
        </div>
        <div class="row d-flex px-5">
            <div class="d-flex align-items-start col-6 flex-column">
                <div>
                    <h5 class="subtext">
                        {{ property.postal_code }} {{ property.city }}
                    </h5>
                    <h5 class="subtext">
                        Svefnherbergi: {{ property.number_of_bedrooms }} , Baðherbergi: {{ property.number_of_bathrooms }}
                    </h5>
                    <h5 class="subtext"> 
                        {{property.square_meters}} m<sup>2</sup>
                    </h5>
                </div>
            </div>
            <div class="d-flex align-items-end col-6 flex-column">
                <div>
                    <h3 class="subtext">
                        Skráð: {{ property.listing_date }}
                    </h3>
                    <h3 class="subtext mt-1">
                        Staða eignar: {{ property.status }}
                    </h3>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div>
    {% include "_title_bar.html" with title='Lýsing' %}
</div>
<div class="container py-4">
    <div class="col-12">
        {% for line in desc_lines %}
        <h5 class="">
            {{ line }}
            {% if line == "" %}
            <br/>
            {% endif %}
        </h5>
        {% endfor %}
    </div>
</div>
<div>
    {% include "_title_bar.html" with title='Sambærilegar eignir' %}
    {% include "real_estates/_listings.html" with cols=3 %}
</div>
{% endblock %}