<div class="modal fade" id="payment-confirmation-modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Greiðslu lokið</h5>
            </div>
            <div class="modal-body">
                <p>Til hamingju með kaupin!</p>
                <p>Greiðsluferlinu er lokið.</p>
                <p>Takk fyrir viðskiptin.</p>
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-secondary">Aftur á heimasíðu</a>
            </div>
        </div>
    </div>
</div>