<div class="modal fade" id="contingency-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Skilmálar</h5>
            </div>
            <div class="modal-body">
                <p id="contingency-modal-body-message" class="text-break">Seljandi virðist ekki hafa sett skilmála, vinsamlegast hafið samband áður en lengra er haldið.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Loka</button>
                <button id="contingency-payment-modal-continue-button" type="button" class="btn btn-primary" data-bs-target="#contact-info-modal" data-bs-toggle="modal" >Samþykkja</button>
            </div>
        </div>
    </div>
</div>