<div class="hidden-payment-option mortgage" style="display: none;">
    <div class="mb-3">
        <label for="loan-institution" class="form-label">Lánastofnun</label>
        <input id="payment-option-mortgage-loan-institution" type="text" class="form-control" name="loan-institution" placeholder="T.d. Landsbankinn" required>
    </div>
    <div class="mb-3">
        <label for="loan-amount" class="form-label">Lánsupphæð</label>
        <input id="payment-option-mortgage-loan-amount" type="text" class="form-control" name="loan-amount" placeholder="Nafn greiðanda" required>
    </div>
    <div class="mb-3">
        <label for="payer-name" class="form-label">Nafn greiðanda</label>
        <input id="payment-option-mortgage-mortgage-payer" type="text" class="form-control" name="mortgage-payer" placeholder="Nafn greiðanda" required>
    </div>
</div>