<div class="hidden-payment-option credit-card" style="display: none;">
    <div class="mb-3">
        <label for="cardName" class="form-label">Nafn á korti</label>
        <input id="payment-option-credit-card-card-name" type="text" class="form-control" name="card-name" required>
    </div>
    <div class="mb-3">
        <label for="cardNumber" class="form-label">Kortanúmer</label>
        <input id="payment-option-credit-card-card-number" type="text" class="form-control" name="card-number" required>
    </div>
    <div class="mb-3">
        <label for="expiry" class="form-label">Gildistími</label>
        <input id="payment-option-credit-card-expiry" type="text" class="form-control" name="expiry" placeholder="MM/YY" required>
    </div>
    <div class="mb-3">
        <label for="cvc" class="form-label">CVC</label>
        <input id="payment-option-credit-card-cvc" type="text" class="form-control" name="cvc" required>
    </div>
</div>