<div class="hidden-payment-option mortgage" style="display: none;">
    <div class="mb-3">
        <label for="loan-institution" class="form-label">Lánastofnun</label>
        <input id="payment-option-mortgage-loan-institution" type="text" class="form-control payment-input" name="loan-institution" placeholder="T.d. Landsbankinn" required pattern="[a-zA-Z0-9,\. ]{3,}">
    </div>
    <div class="mb-3">
        <label for="loan-amount" class="form-label">Lánsupphæð</label>
        <input id="payment-option-mortgage-loan-amount" type="text" class="form-control payment-input" name="loan-amount" placeholder="Nafn greiðanda" required pattern="[0-9]+">
    </div>
    <div class="mb-3">
        <label for="payer-name" class="form-label">Nafn greiðanda</label>
        <input id="payment-option-mortgage-mortgage-payer" type="text" class="form-control payment-input" name="mortgage-payer" placeholder="Nafn greiðanda" required pattern="[a-zA-Z ]{4,}">
    </div>
</div>