<div class="hidden-payment-option credit-card" style="display: none;">
    <div class="mb-3">
        <label for="cardName" class="form-label">Nafn á korti</label>
        <input id="payment-option-credit-card-card-name" type="text" class="form-control payment-input" name="card-name" required pattern="[a-zA-Z ]{5,}">
    </div>
    <div class="mb-3">
        <label for="cardNumber" class="form-label">Kortanúmer</label>
        <input id="payment-option-credit-card-card-number" type="text" class="form-control payment-input" name="card-number" required pattern="[0-9\-]{16,20}">
    </div>
    <div class="mb-3">
        <label for="expiry" class="form-label">Gildistími</label>
        <input id="payment-option-credit-card-expiry" type="date" class="form-control payment-input" name="expiry" placeholder="MM/YY" required>
    </div>
    <div class="mb-3">
        <label for="cvc" class="form-label">CVC</label>
        <input id="payment-option-credit-card-cvc" type="text" class="form-control payment-input" name="cvc" required pattern="[0-9]{3}">
    </div>
</div>