<div class="container mw-0 payment-modal-sub-header">
    <div class="row px-5 d-flex align-items-center">
        <div class="col-12 d-flex align-items-center gap-1 align-self-center">
            <div class="bg-primary text-bg-primary rounded-3">
                <div name="payment-form-offer-property-type" class="p-1">
                    einbylishus
                </div>
            </div>
            <span class="align-middle">
                <h1 name="payment-form-offer-property-street-name" class="mb-1">
                    gringata 14
                </h1>
            </span>
            <div name="payment-form-offer-property-listing-price" class="ms-auto">
                <h2>
                    1381723 kr.
                </h2>
            </div>
        </div>
    </div>
    <div class="row d-flex px-5">
        <div class="d-flex align-items-start col-6 flex-column">
            <div>
                <h5 name="payment-form-offer-property-zip-city" class="subtext">
                    zip borg
                </h5>
            </div>
        </div>
        <div class="d-flex align-items-end col-6 flex-column">
            <div>
                <h3 name="payment-form-offer-property-offer-amount" class="payment-final-price">
                    Skráð: verd
                </h3>
            </div>
        </div>

    </div>
</div>