<div class="modal" id="payment-option-modal" aria-hidden="true" data-bs-backdrop="static" aria-labelledby="payment-option-modal-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg payment-modal-group">
        <div class="modal-content payment-modal-group">
            <div class="modal-header d-block align-self-center">
                <h5>Greiðslumáti</h5>
            </div>
                {% include 'payments/_payment_modal_sub_header.html' %}
                <div class="modal-body payment-modal-group-body w-50 d-block align-self-center">
                    <label for="payment-option">Greiðslumáti:</label>
                    <select name="payment-option" id="payment-option-select" class="form-select" required>
                        <option value="" selected disabled></option>
                        <option value="credit-card">Kreditkort</option>
                        <option value="bank-transfer">Millifærsla</option>
                        <option value="mortgage">Lán</option>
                    </select>
                    <div class="py-2"></div>
                    {% include 'payments/_option_bank_transfer.html' %}
                    {% include 'payments/_option_mortgage.html' %}
                    {% include 'payments/_option_credit_card.html' %}
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-target="#contact-info-modal" data-bs-toggle="modal">Til baka</button>
                <button id="option-payment-modal-continue-button" type="button" class="btn btn-primary" data-bs-target="#payment-summary-modal" data-bs-toggle="modal" disabled>Áfram</button>
            </div>
        </div>
    </div>
</div>