.colors {
    background-color:#04A5E5;
    border-width: 3px;
    border-color: black;
};

:root {
    --bs-primary: #04A5E5; /* Custom purple for primary */
    --bs-secondary: #a0730e; /* Custom brown for secondary */
    --bs-danger: #54b6aa;
};
:root .btn-primary {
    --bs-btn-border-color: #0d6efd;
    --bs-btn-bg: #04a5e5;
    --bs-btn-border-color: var(--primary-border-base);
    --bs-btn-hover-color: var(--primary-text-base);
};
:root .btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
};
