{% load static %}
{% block scripts %}
<script defer src="{% static 'js/payment_option_select.js' %}"></script>
{% endblock %}
<div class="d-flex justify-content-center align-items-center">
<form id="temp-input-form">
    {% include "payments/_entry_payment_modal.html" %}
    {% include "payments/_payment_option_modal.html" %}
</form>
{% include "payments/_information_overview_modal.html" %}
{% include "payments/_confirmation_modal.html" %}
{% include "payments/_contingency_modal.html" %}
<table class="table table-bordered table-striped table-hover justify-content-center mt-1">
    <thead>
        <tr class="text-center">
            <th style="width:15%;" scope="col">Seljandi</th>
            <th style="width:35%;" scope="col">Heimilisfang</th>
            <th style="width:10%;" scope="col">Dags. tilboðs</th>
            <th style="width:10%;" scope="col">Gildistími</th>
            <th style="width:20%;" scope="col">Tilboð</th>
            <th style="width:10%" scope="col">Aðgerðir</th>
            <td class="offer-button-cell" scope="col">Staða</th>
        </tr>
    </thead>
    <tbody class="table-group-divider" style="border-top-color: black;">
    {% for offer in offers %}
    {% if offer.offer_status != "PROCESSED" %}
    <tr id="offer-id-{{ offer.id }}-row">
    <!-- {% if offer.offer_status == "ACCEPTED" %}
    class="table-success"
    {% elif offer.offer_status == "DECLINED" %}
    class="table-danger"
    {% elif offer.offer_status == "CONTINGENT" %}
    class="table-info"
    {% endif %} -->

            <th class="align-middle text-center" scope="row">{{ offer.property.seller.user.full_name }}</th>
            <td class="d-flex align-middle text-start align-items-center justify-content-between px-3 fs-4" scope="row">
                {{ offer.property.street_name }} - {{ offer.property.postal_code }} {{ offer.property.city }}
                <a class="px-2" href="{% url 'real-estate-by-id' id=offer.property.id %}">
                    <button class="btn btn-primary mx-2" >Skoða</button>
                </a>
            </td>
            <td class="align-middle text-center py-2" scope="row">{{ offer.offer_date }}</td>
            <td class="align-middle text-center" scope="row">{{ offer.offer_expiry }}</td>
            <td class="align-middle text-end" scope="row"><h4 class="mx-3">{{ offer.offer_amount }} kr.</h4></td>
            <td class="offer-button-cell justify-content-evenly d-flex my-1" scope="row">
                {% if not offer.expired %}
                <button name="offer-accepted-button" class="w-75 btn  btn-success bigger-btn"
                {% if offer.offer_status != 'ACCEPTED' %}style="display:none;"{% endif %}
                data-bs-toggle="modal" data-bs-target="#contact-info-modal" 
                data-button-status="ACCEPTED"
                data-offer-status="{{ offer.offer_status }}"
                data-id="{{ offer.id }}"
                data-street-name="{{ offer.property.street_name }}"
                data-offer-amount="{{ offer.offer_amount }}"
                data-zip="{{ offer.property.postal_code }}"
                data-city="{{ offer.property.city }}"
                data-type="{{ offer.property.property_type }}"
                data-image="{{ offer.property.image }}"
                data-listing-price="{{ offer.property.listing_price }}">Afgreiða</button>
                
                <button name="offer-contingency-button" class="w-75 btn btn-primary bigger-btn" 
                {% if offer.offer_status != 'CONTINGENT' %}style="display:none;"{% endif %}
                data-bs-toggle="modal" data-bs-target="#contingency-modal"
                data-button-status="CONTINGENT" 
                data-offer-status="{{ offer.offer_status }}" 
                data-offer-message="{{ offer.offer_contingency_message }}"
                data-id="{{ offer.id }}"
                data-street-name="{{ offer.property.street_name }}"
                data-offer-amount="{{ offer.offer_amount }}"
                data-zip="{{ offer.property.postal_code }}"
                data-city="{{ offer.property.city }}"
                data-type="{{ offer.property.property_type }}"
                data-listing-price="{{ offer.property.listing_price }}"
                data-image="{{ offer.property.image }}"
                data-id="{{ offer.id }}">Skoða</button>
                {% endif %}

            </td>

            <td class="align-middle text-center" scope="row"><h4><b>{%if offer.expired %}EXPIRED{% else %}{{ offer.offer_status }}{% endif %}</b></h4></td>

        </tr>
        {% endif %}
        {% empty %}
    </tbody>
</table>
</div>
<div class="py-5" style="min-height: 50vh;">
    <h1 class="text-center subtext">Engin virk tilboð..</h1>
</div>
        {% endfor %}
    </tbody>
</table>
</div>