
<div class="d-flex justify-content-center align-items-center">
<table class="table table-bordered table-striped table-hover justify-content-center mt-1">
    <thead>
        <tr class="text-center">
            <th scope="col"></th>
            <th style="width:45%;" scope="col">Heimilisfang</th>
            <th style="width:10%;" scope="col">Skráð verð</th>
            <th style="width:10%;" scope="col">Tilboð</th>
            <th class="w-25" scope="col">Staða</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider" style="border-top-color: black;">
    {% for offer in offers %}
        <tr 
        {% if offer.status == "Accepted" %}
        class="table-success"
        {% elif offer.status == "Declined" %}
        class="table-danger"
        {% elif offer.status == "Contingent" %}
        class="table-info"
        {% endif %}
        >
            <th class="align-middle" scope="row"></th>
            <th class="align-middle text-center" scope="row"><h4>{{ offer.property.street_name }} - {{ offer.property.postal_code }} {{ offer.property.city }}</h4></th>
            <td class="align-middle text-end" scope="row"><h4>{{ offer.property.listing_price }}</h4></td>
            <td class="align-middle text-end" scope="row"><h4>{{ offer.offer_amount }}</h4></td>
            <td class="d-flex gap-5 justify-content-center align-middle align-items-center" scope="row"><h4><b>{{ offer.offer_status }}</b></h4>
                {% if offer.offer_status == "Accepted" %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentModal">Afgreiða!</button>
                {% include "users/_payment_modal.html" %}
                {% elif offer.offer_status == "Declined" %}
                <button class="btn btn-primary">Skoða</button>
                {% elif offer.offer_status == "Contingent" %}
                <button class="btn btn-primary">Skoða</button>
                {% endif %}
            </td>
            <th scope="row"></th>
        </tr>
        {% empty %}
        <div class="py-5">
            <h1 class="text-center subtext">Engin virk tilboð..</h1>
        </div>
        {% endfor %}
    </tbody>
</table>
</div>