<table id="offer-table" class="table table-bordered table-striped table-hover justify-content-center mt-1" style="display: none">
    <thead>
        <tr class="text-center">
            <th scope="col">Kaupandi</th>
            <th scope="col">Dags. tilboðs</th>
            <th scope="col">Upphæð</th>
            <th scope="col">Gildistími</th>
            <th scope="col">Aðgerðir</th>
        </tr>
    </thead>
    <tbody>
        {% for prop, info in properties.items %}
        {% if prop.status != "PROCESSED" %}
            {% for offer in info.offers %}
            <tr id="offer-id-{{ offer.id }}-row" name="offer-table-row" class="{{ prop.street_name }} - {{ prop.postal_code }} {{ prop.city }}" style="display: none;">
                <th class="px-3" scope="col"><h6>{{ offer.buyer.user.full_name }}</h6></th>
                <th class="text-center" scope="col"><h6>{{ offer.offer_date }}</h6></th>
                <th class="text-end px-5" scope="col"><h6>{{ offer.offer_amount }} kr.</h6></th>
                <th class="text-center" scope="col"><h6>{{ offer.offer_expiry }}</h6></th>
                <th class="d-flex justify-content-evenly align-items-center gap-1" scope="col">
                    <button name="accept-offer-button" type="button" class="btn btn-success offer-row-button" data-bs-toggle="modal" data-bs-target="#accept-offer-modal"
                    data-id="{{ offer.id }}"
                    data-buyer="{{ offer.buyer.user.full_name }}"
                    data-street="{{ prop.street_name }}"
                    data-city="{{ prop.city }}"
                    data-zip="{{ prop.postal_code }}"
                    data-offer-amount="{{ offer.offer_amount }}"
                    {% if offer.expired %}
                    disabled></button>
                    {% else %}
                    {% if prop.status == "SOLD" %}
                    {% if offer.offer_status != "CONTINGENT" %}
                    disabled></button>
                    {% else %}
                    >Samþykkja</button>
                    {% endif %}
                    {% elif prop.status == "PROC" %}
                    disabled></button>
                    {% elif prop.status == "OPEN" %}
                    >Samþykkja</button>
                    {% endif %}
                    {% endif %}
                    <button name="contingent-offer-button" class="btn btn-primary offer-row-button" type="button" data-bs-toggle="modal" data-bs-target="#contingent-offer-modal"
                    data-id="{{ offer.id }}"
                    {% if offer.expired %}
                    disabled></button>
                    {% else %}
                        {% if prop.status == "SOLD" or offer.offer_status != 'OPEN' and offer.offer_status != 'CONTINGENT' %}
                        disabled></button>
                        {% else %}
                        >Skilyrði</button>
                        {% endif %}
                    {% endif %}
                    <button name="reject-offer-button" class="btn btn-danger offer-row-button" type="button" data-bs-toggle="modal" data-bs-target="#reject-offer-modal"
                    data-id="{{ offer.id }}"
                    data-offer-amount="{{ offer.offer_amount }}"
                    {% if offer.offer_status != 'OPEN' and not offer.expired %}
                    disabled></button>
                    {% else %}
                    >{% if offer.expired %}Eyða{% else %}Hafna{% endif %}</button>
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>