<table id="seller-properties-table" class="table table-bordered table-striped table-hover justify-content-center mt-1">
    <thead>
        <tr class="text-center">
            <th style="width:30%;" scope="col">Heimilisfang</th>
            <th style="width:15%;" name="numeric" scope="col">Skráð verð</th>
            <th style="width:10%;" name="date" scope="col">Skráð dags.</th>
            <th style="width:10%;" name="numeric" scope="col">Fjöldi tilboða</th>
            <th style="width:10%;" scope="col">Staða</th>
            <th style="width:20%;" scope="col"></th>
        </tr>
    </thead>
    <tbody id="seller-property-table-body" class="table-group-divider" style="border-top-color: black;">
    {% for property, info in properties.items %}
        <tr name="property-table-row" id="{{ property.street_name }} - {{ property.postal_code }} {{ property.city }}" data-image="{{ property.image }}">
            <th name="address-cell" class="address-cell align-middle text-start" scope="row"><h3 class="mx-5 table-cell-sorter">{{ property.street_name }} - {{ property.postal_code }} {{ property.city }}</h3></th>
            <td name="price-cell" class="listing-price-cell align-middle text-end px-3 table-cell-sorter" scope="row"><h4>{{ property.listing_price }} kr.</h4></td>
            <td class="listing-date-cell align-middle text-center table-cell-sorter" scope="row">{{ property.listing_date }}</td>
            <td class="offer-count-cell position-relative align-middle text-center table-cell-sorter" scope="row">
                <h4>{{ info.offers|length }}</h4>
                    {% if info.notifs != 0 %}
                    <span name="offer-notification" class="position-absolute translate-middle badge rounded-pill bg-danger user-select-none notification-pill">
                        {{ info.notifs }}
                    <span class="visually-hidden">unread messages</span>
                    {% endif %}
            </td>
            <td class="status-cell align-middle text-center table-cell-sorter" scope="row"><h4><b>{{ property.status}}</b></h4></td>
            <th scope="row" class="button-cell d-flex justify-content-evenly">
                <button name="editProperty" type="button" class="btn btn-primary btn-small justify-content-center" style="height:4rem; width:8rem" data-bs-toggle="modal" data-bs-target="#property-modal" 
                data-id="{{ property.id }}"
                data-street="{{ property.street_name }}"
                data-city="{{ property.city }}"
                data-zip="{{ property.postal_code }}"
                data-desc="{{ property.description }}"
                data-bedrooms="{{ property.number_of_bedrooms }}"
                data-bathrooms="{{ property.number_of_bathrooms }}"
                data-sqm="{{ property.square_meters }}"
                data-status="{{ property.status }}"
                data-type="{{ property.property_type }}"
                data-price="{{ property.raw_price }}"
                {% if property.status == "SOLD" or property.status == "PROCESSED" %}
                disabled></button>
                {% else %}
                >
                    Breyta Eign
                </button>
                {% endif %}
                <button name="deleteProperty" type="button" class="btn btn-danger btn-small" style="height:4rem; width:8rem" data-bs-toggle="modal" data-bs-target="#delete-property-modal"
                data-id="{{ property.id }}"
                data-zip="{{ property.postal_code }}"
                data-city="{{ property.city }}"
                data-street="{{ property.street_name }}"
                {% if property.status == "SOLD" %}
                disabled></button>
                {% else %}
                >
                    Eyða Eign
                </button>
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>