{% extends "base.html" %}
{% load static %}
{% block title %}Fasteignirnar Mínar{% endblock %}
{% block scripts %}
<script defer src="{% static 'js/property_offers.js' %}"></script>
{% endblock %}
{% block content %}

<div class="d-flex align-items-center overflow-hidden" style="min-height:50vh">
    {% include 'real_estates/_property_modal.html' %}
    {% include "_do_item_modal.html" with item="property" title="Eyða eign" action="delete" %}
    {% include "_do_item_modal.html" with item="offer" title="Samþykkja tilboð" action="accept" %}
    {% include "_do_item_modal.html" with item="offer" title="Eyða tilboði" action="delete" %}
    {% include "_do_item_modal.html" with item="offer" title="Hafna tilboði" action="reject" %}
    {% include "_do_item_modal.html" with item="offer" title="Setja skilyrði" action="contingent" %}
    {% include 'real_estates/_image_modal.html' %}
    {% if properties|length == 0 %}
    <button id="create-property-button" type="button" class="btn btn-primary btn-big mx-5" style="height:6rem; width:16rem" data-bs-toggle="modal" data-bs-target="#property-modal">
        Skrá eign
    </button>
    <div class="py-5">
        <h1 class="text-center subtext">Engar fasteignir</h1>
    </div>
    {% else %}
    <img id="chosen-row-property-image" src="" width="25rem">
    <button id="create-property-button" type="button" class="btn btn-primary btn-big mx-5" style="height:6rem; width:16rem" data-bs-toggle="modal" data-bs-target="#property-modal">
        Skrá eign
    </button>
    {% include "users/_seller_properties_table.html" %}
    {% endif %}
</div>
{% include "_title_bar.html" with title="" id="address-table-caller" %}
{% include "users/_seller_offers_table.html" %}
{% endblock %}