{% extends "base.html" %}
{% load static %}
{% block title %}{{ profile.full_name }}{% endblock %}
{% block scripts %}
<script defer src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class="bg-mid">
    <div class="container py-3">
        <div class="row d-flex justify-content-center" style="height:25rem;">
            <div class="h-100 col-4">
                <div class="h-100 row justify-content-center">
                    <div class="position-relative h-100 col-9 rounded rounded-5 d-flex justify-content-center align-items-center bg-low profile-image" style="overflow:hidden">
                        <img src="{{ profile.image }}" class="h-100"
                        {% if profile.is_seller %}
                        alt="Photo of realtor"
                        {% else %}
                        alt="Profile photo"
                        {% endif %}
                        />
                        {% if user.id == profile.id %}
                        <button id= "editProfile" class="position-absolute bottom-0 btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#edit-profile-modal">Breyta prófíl</button>
                        {% include 'users/_edit_profile_modal.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-4 align-self-center">
                <h1 class="mb-0">{{ profile.full_name }}</h1>
                {% if profile.is_seller %}
                <h6 class="px-3 subtext">{{ profile.seller.type }}</h6>
                {% if not profile.seller.type == 'Individual' %}
                <h5>{{ profile.seller.street_name}}</h5>
                <h5>{{ profile.seller.postal_code }} {{ profile.seller.city }}</h5>
                {% endif %}
                {% endif %}
            </div>
            <div class="col-4">
                {% if profile.is_seller %}
                    <img class="border border-black border-4 rounded rounded-5" src="{{ profile.seller.logo }}" style="height: auto; width:100%;" />
                {% endif %}
            </div>
        </div>
    </div>
    {% if profile.is_seller %}
    <div class="container pb-3">
        {% for line in profile.seller.bio %}
        <h5 class="m-0">
            {{ line }}
            {% if line == "" %}
            <br/>
            {% endif %}
        </h5>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="bg-low">
{% if profile.is_seller %}
    {% include "_title_bar.html" with title="Fasteignir" %}
    <div class="">
        {% include "real_estates/_listings.html" with cols=5 %}
    </div>
</div>
{% else %}
    {% include "_title_bar.html" with title="Tilboð" %}
    {% include "users/_buyer_offers.html" %}
{% endif %}

{% endblock %}

