{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h1>Create Account</h1>
        </div>
        <div class="col-6 text-center">
        </div>
    </div>
    <form method="post">
        <div class="row mb-2">
            <div class="col">
                {% csrf_token %}
                {% for field in form %}
                {% if field.label == 'Role' %}
                {% else %}
                <div class="form-floating mb-3">
                    <input required name={{field.name}} 
                    type=
                    "{% if field.label == 'Image' %}
                    Text
                    {% elif 'Password' in field.label %}Password{% else %}{{ field.label }}{% endif %}"
                    class="form-control" id="id_{{ field.name }}">
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                    {% if field.help_text %}
                    <div id="{{ field.name }}HelpBlock" class="form-sub-text">
                        {{ field.help_text }}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" required type="radio" name="role" id="id_role_0" value="buyer">
                    <label class="form-check-label" for="id_role_0">Buyer</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" required type="radio" name="role" id="id_role_1" value="seller">
                    <label class="form-check-label" for="id_role_1">Seller</label>
                </div>
                <div class="col-12 text-center pt-3">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </div>
            <div class="h-50 col overflow-clip">
                <div id="seller-form" style="visibility: hidden;">
                    <!-- {{ seller_form }} -->
                    <div class="form-check form-check-inline pb-2">
                        <input class="form-check-input" required type="radio" name="type" id="id_type_0" value="Individual">
                        <label class="form-check-label" for="id_type_0">Individual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" required type="radio" name="type" id="id_type_1" value="Real estate agency">
                        <label class="form-check-label" for="id_type_1">Real estate agency</label>
                    </div>
                    {% for field in seller_form %}
                    {% if field.label == 'Bio' or field.label == "Type" %}
                    {% else %}
                    <div class="form-floating mb-3">
                        <input required name="{{ field.name }}" type="
                        {% if field.label == 'Image' %}
                        Text
                        {% else %}
                        {{field.label}}
                        {% endif %}
                        " class="form-control" id="id_{{field.name}}">
                        <label for="id_{{field.name}}">{{ field.label }}</label>
                        {% if field.help_text %}
                        <div id="{{ field.label }}HelpBlock" class="form-sub-text">
                            {{ field.help_text }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="form-floating">
                        <textarea id="id_bio" name="bio" class="form-control" placeholder="Description of seller" style="height: 13rem"></textarea>
                        <label for="id_bio">Bio</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex row justify-content-center">
            <div class="col-6">
            </div>
        </div>
    </form>
</div>
{% endblock %}