{% load static %}

<footer class="py-1 bg-low">
        <div class="container w-100 h-25">
            <div class="d-flex row justify-content-between">
                <div class="col-2 align-items-center navbar-brand" href="/">
                    <img src="{% static 'images/logo-darkmode.png' %}" alt="Logo" width="90" height="72"
                        class="d-inline-block align-text-top" />
                    <b>Castle Apartments ehf.</b>
                </div>
                <div class="col-2 text-end">
                    <h5>Heimilisfang</h5>
                    <h5>Símanúmer</h5>
                    <h5>Kennitala</h5>
                </div>
        </div>
    </div>
</footer>