{% load static %}

<footer class="navbar-fixed-bottom py-3 bg-mid">
    <div class="container">
        <ul class="nav justify-content-center pb-3 mb-3 gap-3">
            <li class="nav-item"><a href="#" class="real-estate-extra-info text-decoration-none px-2">Heimilisstræti 14</a></li>
            <li class="nav-item"><a href="#" class="real-estate-extra-info text-decoration-none px-2">alvoru@netfang.is</a></li>
            <li class="nav-item"><a href="#" class="real-estate-extra-info text-decoration-none px-2">420125-3480</a></li>
            <li class="nav-item"><a href="#" class="real-estate-extra-info text-decoration-none px-2">Starfsfólk</a></li>
            <li class="nav-item"><a href="#" class="real-estate-extra-info text-decoration-none px-2">Um okkur</a></li>
        </ul>
        <div class="d-flex col-12 justify-content-center gap-2 align-items-center navbar-brand" href="/">
            <img src="{% static 'images/logo-darkmode.png' %}" alt="Logo" width="60" height="48"
                class="d-inline-block align-text-top" />
            <b>Castle Apartments ehf.</b>
        </div>
    </div>
</footer>