{% load static %}
<nav class="navbar navbar-expand-lg sticky-top shadow-lg" style="background-color:#04A5E5;" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top" />
            <b>Castle Apartments</b>
        </a>
        {% if user %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Vaktin mín</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="d-flex justify-content-between">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% include "users/_user_icon.html" with user=user %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>