<div>
    <div class="row justify-content-evenly">
        <div class="col-sm-2">
            <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <label for="floatingSelectGrid">Svæði</label>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <label for="floatingSelectGrid">Tegund</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-floating">
            <input class="form-control" id="floatingInputGrid" placeholder="">
            <label for="floatingInputGrid">Verð</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-sm-2">
            <div class="form-floating">
            <input class="form-control" id="floatingInputGrid" placeholder="">
            <label for="floatingInputGrid">Verð</label>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>