{% load static %}
<div class="bg-mid d-flex justify-content-center search-form">
    <div class="bg-mid container pb-4">
        <form id="search-form" action="/search" method="GET">
            <div class="row justify-content-evenly mb-4 pt-4">
                <div class="col-3">
                    <div class="form-floating">
                        <select class="form-select search-form-input-field" name="areaSelect" id="id_areaSelect">
                            <option selected></option>
                            {% for area in areas %}
                            <option value="{{ area }}">
                                {{area}}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="id_areaSelect">Svæði</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-floating">
                        <select class="form-select search-form-input-field" name="typeSelect" id="id_typeSelect">
                            <option selected></option>
                            {% for type in types %}
                            <option value="{{ type }}">
                                {{ type }}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="id_typeSelect">Tegund</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn-group dropdown-center">
                        <button type="button" class="btn form-control search-price-value dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu price-dropdown-item-menu">
                            {% for _, price in prices.items %}
                            <li><a name="search-price-value-item" class="dropdown-item text-center -min-" href="#">{{price.visual}}</a></li>
                            {% endfor %}
                        </ul>
                        <button id="search-price-value-indicator" name="priceInput" class="user-select-none search-price-value search-price-value-indicator align-content-center btn" disabled>
                            Verð
                        </button>
                        <div class="visually-hidden">
                            <input type="text" class="form-control search-form-input-field" name="priceInput" id="id_priceInput" placeholder="">
                            <label for="id_priceInput">Verð</label>
                        </div>
                        <button type="button" class="btn form-control search-price-value dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu price-dropdown-item-menu">
                            {% for _, price in prices.items %}
                            <li><a class="dropdown-item text-center -max-" name="search-price-value-item" value="{{ price.value }}">{{ price.visual }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input class="form-control search-form-input-field" name="descInput" id="id_descInput" placeholder="">
                        <label for="id_descInput">Götuheiti eða textalýsing</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-floating">
                        <select class="form-select" id="orderBySelect">
                            <option value="0" selected>Nýjast efst</option>
                            <option value="1">Ódýrast efst</option>
                            <option value="2">Dýrast efst</option>
                            <option value="3">Götuheiti A-Ö</option>
                            <option value="4">Götuheiti Ö-A</option>
                        </select>
                        <label for="orderBySelect">Raða eftir</label>
                    </div>
                </div>
                <div class="col-sm-3 btn-group justify-content-center" role="group" aria-label="Basic example">
                    <div class="d-flex row align-self-center">
                        <div class="col-12 btn-group" role="group" aria-label="Basic example">
                            <button type="submit" class="btn btn-primary">
                                <div class="d-flex justify-content-center gap-1">
                                    <span class="d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                        </svg>
                                    </span>
                                    <span>
                                        Leita
                                    </span>
                                </div>
                            </button>
                            </form>
                            <div class="dropdown-center">
                                    <button id="open-filter-saver-button" type="submit" 
                                    class="btn 
                                    {% if not user.is_authenticated %}
                                    " disabled
                                    {% else %}
                                    btn-primary"
                                    {% endif %}
                                    data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="d-flex justify-content-center gap-1">
                                            <span class="d-flex align-items-center">
                                                <svg class="align-self-center" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                                    <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4"/>
                                                </svg>
                                            </span>
                                            <span>
                                                Vista
                                            </span>
                                        </div>
                                    </button>
                                <div id="save-filter-dropdown-menu" class="dropdown-menu mx-1 px-1">
                                    <div class="container">
                                        <label for="id_filterName">Nafn</label>
                                        <input class="form-control mb-2" id="id_filterName" type="text" aria-label="filter name input" style="color:var(--bs-card-title-color)"> 
                                    </div>
                                    <div class="d-flex gap-1 align-items-center justify-content-center">
                                        <div>
                                            <div class="form-check visually-hidden">
                                                <div>
                                                    <input type="checkbox" class="form-check-input" id="dropdownCheck" aria-label="watch filter">
                                                </div>
                                                <label class="form-check-label" for="dropdownCheck">
                                                    Vakta síu
                                                </label>
                                            </div>
                                            <form id="save-filter-form" action="/filters/" method="POST">
                                                {% csrf_token %}
                                                <button id="filter-saver-button" type="submit" class="btn btn-primary">Vista</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-center" style="width:118px">
                                <button id="watchFilter" role="button" 
                                class="btn 
                                {% if not user.is_authenticated %}
                                " disabled
                                {% else %}
                                btn-primary"
                                {% endif %}
                                data-bs-auto-close="outside"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="display-inline">
                                        <span class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                                                <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                            </svg>
                                        </span>
                                        <span>
                                            Mínar síur
                                        </span>
                                    </div>
                                </button>
                                <ul class="dropdown-menu">
                                    <form id="edit-filter-form" method="POST">
                                        {% csrf_token %}
                                        {% for filter in filters %}
                                        <li class="position-relative text-truncate">
                                            <span class="saved-search-filter-line{% if filter.monitor %}-watched{% endif %}">
                                                <button id="filter-watch-{{filter.user_id}}-{{filter.id}}" type="submit" class="filter-watch-binox position-absolute theme-toggle" data-user-id="{{filter.user_id}}" data-filter-id="{{filter.id}}">
                                                    <span class="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#04A5E5" class="bi bi-binoculars" viewBox="0 0 16 16">
                                                            <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                                        </svg>
                                                    </span>
                                                </button>
                                                <button id="filter-delete-{{filter.user_id}}-{{filter.id}}" type="submit" class="filter-delete-x position-absolute theme-toggle" data-user-id="{{filter.user_id}}" data-filter-id="{{filter.id}}">
                                                    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#B10000">
                                                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                                                        </g>
                                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                                        </g>
                                                        <g id="SVGRepo_iconCarrier">
                                                        <rect width="16" height="16" id="icon-bound" fill="none">
                                                        </rect>
                                                        <path d="M10.294,4.294L8,6.584L5.706,4.291L4.291,5.706L6.584,8l-2.294,2.294l1.416,1.416L8,9.416l2.294,2.294l1.416-1.416L9.416,8 l2.294-2.294L10.294,4.294z M8,0C3.581,0,0,3.581,0,8s3.581,8,8,8s8-3.581,8-8S12.419,0,8,0z M12.244,12.244 C11.109,13.375,9.603,14,8,14s-3.109-0.625-4.244-1.756C2.625,11.109,2,9.603,2,8s0.625-3.109,1.756-4.244C4.891,2.625,6.397,2,8,2 s3.109,0.625,4.244,1.756C13.375,4.891,14,6.397,14,8S13.375,11.109,12.244,12.244z">
                                                        </path>
                                                        </g>
                                                    </svg>
                                                </button>
                                                <a class="text-truncate saved-filter dropdown-item user-select-none" 
                                                data-name="{{filter.name}}" data-area="{{filter.area}}" data-price="{{filter.price}}" data-desc="{{filter.desc}}" data-re_type="{{filter.re_type}}" data-monitor="{{filter.monitor}}">
                                                    {{ filter.name }}
                                                </a>
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>