<div class="btn-group dropdown-center">
    <button type="button" class="btn form-control search-price-value dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu price-dropdown-item-menu">
        {% for _, price in prices.items %}
        <li><a name="search-price-value-item" class="dropdown-item text-center -min-" href="#">{{price.visual}}</a></li>
        {% endfor %}
    </ul>
    <button id="search-price-value-indicator" name="priceInput" class="user-select-none search-price-value search-price-value-indicator align-content-center btn" disabled>
        Verð
    </button>
    <div class="visually-hidden">
        <input type="text" class="form-control" name="priceInput" id="id_priceInput" placeholder="">
        <label for="id_priceInput">Verð</label>
    </div>
    <button type="button" class="btn form-control search-price-value dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu price-dropdown-item-menu">
        {% for _, price in prices.items %}
        <li><a class="dropdown-item text-center -max-" name="search-price-value-item" value="{{ price.value }}">{{ price.visual }}</a></li>
        {% endfor %}
    </ul>
</div>