{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- <style>
        :root {
            --bs-primary: #04A5E5; /* Custom purple for primary */
            --bs-secondary: #a0730e; /* Custom brown for secondary */
            --bs-danger: #54b6aa;
        }
        :root .btn-primary {
            --bs-btn-border-color: #0d6efd;
            --bs-btn-bg: #04a5e5;
            --bs-btn-border-color: var(--primary-border-base);
        }
        :root .btn-secondary {
            --bs-btn-bg: var(--bs-secondary);
        }
    </style> -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="{% static 'js/darkmode.js' %}"></script>
    {% block scripts %}
    <script defer src="{% static 'js/seller_form.js' %}"></script>
    {% endblock %}
</head>

<body>
    {% include "_nav.html"  %}  <!-- tók út with user=True-->
    {% block content %}
    {% endblock %}
</body>

</html>