{% extends "base.html" %}
{% load static %}
{% block title %}Castle Apartments{% endblock %}
{% block scripts %}
<script defer src="{% static 'js/search.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "_search_form.html" with areas=areas types=types %}
    {% include "_title_bar.html" with title="Nýjustu eignirnar" %}
    {% include "real_estates/_listings.html" with cols=5 itemlist=newest %}
    {% include "_title_bar.html" with title="Vinsælustu eignirnar" %}
    {% include "real_estates/_listings.html" with cols=5 itemlist=popular %}
{% endblock %}